{% load static %}

{% include '../header.html' %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<h1>Имя - {{emp_id.name}}</h1>
<p>Ваша почта - {{emp_id.name}}</p>
<img src="{{emp_id.image.url}}" width="350" height="250" alt="">
<p>О книге - {{emp_id.about_emp}}</p>
<p>Жанр - {{emp_id.programming_status}}</p>

{% if emp_id.rezume %}
{% if emp_id.rezume.url %}    
    <a href="{{emp_id.rezume.url}}"download>Скачать резюме</a>
{% else %}
    <p>Резюме не загружено</p>
{% endif %}
{% endif %}

<data>Дата создание - {{emp_id.date_of_birth}}</data>
<a href="{{emp_id.github}}">Перейти в GITHUB</a>
<data>Дата создания поста - {{emp_id.created_at}}</data>

<ul>
    {% for i in emp_id.reviews_book.all %}
        <li>
        <h1>{{ i.stars }}</h1>
        <p>{{ i.text }}</p>
        <p>{{ i.created_at }}</p>
        </li>
        
        
    {% endfor %}
</ul>


{% include '../footer.html' %}